<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>RTI Reviews</title>
    </head>
    <body>
        <h1>Welcome to the RTI Reviews platform!</h1>
        <p>Follow the links below to explore the app.</p>
        <ul>
            <li><p>Click <a th:href="@{/signup}">here</a> to signup.</p></li>
            <li><p>Click <a th:href="@{/reviews}">here</a> to see a sample review.</p></li>
        </ul>

    </body>
</html>
