<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post A New Review</title>
</head>
<body>
    <h1>Post A New Review</h1>
    <form th:action="@{/reviews/post/save}"
          method="post"
          th:object="${reviewPost}">
        <li>
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" th:field="*{title}" placeholder="Enter review title"/>
        </li>
        <li>
            <label for="body">Body: </label>
            <textarea rows="5" cols="30" id="body" name="body" th:field="*{body}"
                      placeholder="Enter your review here">
                </textarea>
        </li>
        <p class="button">
            <button type="submit">Post review</button>
        </p>
    </form>
</body>
</html>
