<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>All Reviews</title>
    </head>
    <body>
        <h1>See All Reviews!</h1>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Time Posted</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reviewPost: ${reviewList}">
                    <td th:text="${reviewPost.title}"></td>
                    <td th:text="${reviewPost.body}"></td>
                    <td th:text="${reviewPost.dateTimeCreated}"></td>
                </tr>
            </tbody>
        </table>

        <p><a th:href="@{/post_review}">Post a new review!</a></p>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </body>
</html>
